<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-admob"
        version="1.0.0">
    <name>AdMobPlugin</name>
    <description>Cordova AdMob Plugin</description>
    <license>MIT</license>
    <keywords>cordova,admob</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdMobPlugin">
                <param name="android-package" value="com.example.admob.AdMobPlugin"/>
            </feature>
        </config-file>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AdMobPlugin">
                <param name="ios-package" value="AdMobPlugin"/>
            </feature>
        </config-file>
    </platform>
</plugin>
